<div class="container" >
  <ul>
    <li (click)="showTab(1)"><a href="#">About</a></li>
    <li (click)="showTab(2)"><a href="#">Base Stats</a></li>
    <li (click)="showTab(3)"><a href="#">Moves</a></li>
    <li (click)="showTab(4)"><a href="#">Abilities</a></li>
  </ul>







    <div class="content-about" *ngIf="activeTab === 1" >


<div class="row first">

        <p>
         Weight {{  pokemonsTab.height /10 }} m
        </p>

        <p>
         Height {{pokemonsTab.weight /10}} Kg ({{(pokemonsTab.weight /10 * 2.2046).toFixed(1)}} lbs)
        </p>

        <p>
          Base Exp {{pokemonsTab.base_experience}}
        </p>

</div>

<div class="row second">


        <h4 class="brerding">Breeding</h4>

        <p *ngFor="let group of species?.egg_groups">
          {{ group.name }}
        </p>
</div>

  </div>






  <div class="content-stats" *ngIf="activeTab === 2">



    <div class="stats" *ngFor="let i of pokemonsTab.stats">


          <div class="name">{{i.stat.name}}</div>
           <div class="base_stat">{{i.base_stat}}</div>



        <mat-progress-bar class="progress-bar"  mode="determinate" [value]="i.base_stat" [color]="color"></mat-progress-bar>

    </div>


  </div>



  <div class="content-moves" *ngIf="activeTab === 3">


  <p *ngFor="let i of pokemonsTab.moves.slice(0,6)" >
    {{i.move.name}}

  </p>


  </div>



    <div class="content-abilities" *ngIf="activeTab === 4" >
        <p *ngFor="let u of pokemonsTab.abilities">
          {{u.ability.name}}
        </p>
    </div>


</div>
