

<div class="container">

  <div class="pokedex__title_app"> <h1>Pokedex</h1></div>



      <mat-form-field class="input-search">
        <mat-label>Procure pokemons</mat-label>
        <input matInput type="text"
        (input)="getPokemon($any($event.target).value.toLowerCase())" >
      </mat-form-field>



      <div class="card">

       <div class="card__title">

        <h3> {{pokemon.name}} </h3>
       </div>

       <div class="card__body">

          <img [src]="pokemon.sprites.front_default" alt="pokemon">
       </div>

       <div class="card_stats">

        <span class="card__stats__type" *ngFor="let t of pokemon.types">
          {{t.type.name}}

          <span *ngFor="let i of pokemon.stats">
            {{i.stat.name}}
            {{i.base_stat}}
          </span>
        </span>


       </div>

      </div>
</div>
